@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white font-prometo; /* Apply black background and Prometo font */
}

/* Neon Colors */
.text-neonFuschia {
  color: #FF77FF; /* Neon Fuschia */
}

.text-neonYellow {
  color: #FFD700; /* Neon Yellow */
}

.text-neonRed {
  color: #FF4500; /* Neon Red */
}

.text-neonGreenBlue {
  color: #7FFFD4; /* Neon sea-foam (greenish-blue) */
}

.button-neonGreenBlue {
  background-color: #7FFFD4;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-neonGreenBlue:hover {
  background-color: #76e2d1;
}

.disconnect-button {
  background-color: #555; /* Greyish color */
  color: #ddd;
  border: 1px solid #888;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disconnect-button:hover {
  background-color: #444;
}
